{
	admin off
	email {$PRISM_ACME_EMAIL}
}

{$PRISM_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy control-plane:8080
}

prismnetwork.tech, www.prismnetwork.tech {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy https://prism-network-web.onrender.com {
		header_up Host prism-network-web.onrender.com
	}
}
